* {
	top: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
	font-size: 1rem;
}

/* styles */

button, input {
	padding: 0.25rem 0.5rem;
}

progress {
	height: 2rem;
}

ul {
	padding-left: 1rem;
}

.hidden {
	display: none;
}

.app {
	display: flex;
	height: 100vh;
}

.sidepanel, .mainpanel {
	padding: 2rem 1rem;
}

.sidepanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 20%;
	background-color: gainsboro;
	border-style: outset;
}

.sidepanel > header,
.sidepanel > main {
	margin-bottom: 2rem;
}

.mainpanel {
	background-color: darkslategray;
	width: 100%;
}

.mainpanel > header,
.mainpanel > main,
.mainpanel > footer {
	background-color: gainsboro;
	border-style: outset;
	margin-block: 1rem;
	padding: 1rem 1rem;
}

.mainpanel > header {
	display: flex;
	justify-content: space-between;
}

.mainpanel > header,
.habbitProgress {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.modal {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-color: rgb(0, 0, 0, .5)
}

.modal-content {
	min-width: 15%;
	background-color: gainsboro;
	border-style: outset;
	padding: 1rem 1rem;
}

.modal-content > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}